.cabeçalho_lista {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
    }
    
    .background-image: url(https://www.shutterstock.com/image-illustration/many-blue-yellow-volleyballs-volleyball-260nw-629902100.jpg) {
    width: 40%;
    height: 40%;
    }
    
    .itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 30px;
    
    }
    
    * {
    margin: 0 16px;
    padding: 24px 0;
    }